body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  padding: 20px;
}

h1 {
  color: #cc0000;
}

#studentInfo {
  margin-bottom: 20px;
  font-weight: bold;
}

form {
  margin-bottom: 30px;
}

input, button {
  padding: 10px;
  margin-right: 10px;
  font-size: 1em;
}

.video {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-left: 4px solid #464646;
}

h3 {
  margin-bottom: 10px;
}
